/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// General styles

body {
	font-family: Roboto, sans-serif;
}

.wrapper {
	max-width: 1220px;
	margin: 0 auto;
	padding: 30px;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 30px
}

.heading {
	padding-bottom: 20px;
}

@media screen and (min-width: 641px) {
	.medium-up-hide {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.small-hide {
		display: none;
	}
}

// Header

.menu-icon,
.nav-icon svg {
	width: 30px;
	height: 30px;
}

.nav-icon {
	position: absolute;
	right: 30px;
	top: 30px;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(160, 215, 236, .4);
}

header .wrapper {
	display: flex;
	justify-content: space-between;
}

.nav_link {
	text-decoration: none;
	color: #fff;
}

.screen-mode {
	.modes {
		position: relative;
		height: 100%;
	}


	.icon {
		transition: .5s all ease;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		cursor: pointer;
		svg{
			width: 50px;
			height: 50px;
		}
	}
	 

	.dark_icon {
		opacity: 0;

		.dark_mode & {
			opacity: 1;
		}
	}

	.light_icon {
		.dark_mode & {
			opacity: 0;
		}
	}
}

@media screen and (min-width: 641px) {
	
	.nav_link_wrapper {
		display: flex;
		.nav_link {
			margin: 0 10px;

		}
	}	
}

@media screen and (max-width: 640px) {
	.nav {
		position: fixed;
		padding: 50px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateX(-100%);
		background: #fff;

		&.active {
			transform: translateX(0);
		}

		.nav_link {
			padding: 10px 15px;
			display: inline-block;
			color: #000;
		}
	}


}


